<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= money %>
    </p>
    <p>name
        <%= jdata.name %>
    </p>
    <p>age
        <%= jdata.age %>
    </p>
    <p>city
        <%= jdata.city %>
    </p>
</body>

</html>